@import '../shared/navbar';
@import '../shared/global';
@import '../shared/buttons';

.home {
    &-nav {
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
            letter-spacing: 1px;
        }
    }

    &-challenges {
        display: flex;
        flex-wrap: wrap;
        
        &__link {
            &-image {
                width: 14rem;
                height: 14rem;
                background: lightgrey;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 1.875rem;
                content: url("/project-assets/QR-code-component/images/styleguide-mobile-design.jpg");
                object-fit: cover;
                cursor: pointer;

                &:hover {
                    margin-top: 0.5rem;
                }
            }

            &-container {
                margin: 3.5rem 4rem;
            }
        }
    }
}